#confirm-times .row:nth-child(even) {
  background-color: rgb(202, 202, 226);
  color: rgb(0, 0, 0);
}

#confirm-times {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  font-size: 14px;
  width: 200px;
  padding: 1px !important;
  overflow: hidden;
  margin: 5px !important;
  border: 5px solid black;
  text-align: center;
}
#times-open {
  padding: 0 !important;
  color: red;
  margin: none;
  vertical-align: center;
}
#confirm-times .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
